.event {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 10px;
    padding: 0 10% 30px 10%;
}

.name {
    font-size: 25px;
}

.image {
    width: 100%;
    max-height: 30vw;
    object-fit: cover;
}