.event {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 10px;
    padding: 30px;
}

.name {
    font-size: 30px;
}

.image {
    max-width: 100%;
}

.timeLocation {

}

.time {

}

.location {

}

.blockContent {

}