.footer {
    background-color: #000000;
    color: #fefefe;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 50px;
    justify-content: space-between;
    width: 100%;
}

.top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0;
    width: 100%;
}

.contactInformation {
    display: grid;
    grid-row-gap: 25px;
    justify-items: left;
    padding-left: 100px;
}

.phoneEmail {
    align-content: center;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
}

.link {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    justify-content: left;
    text-decoration: none;
    color: inherit;
}

.address {
    align-items: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    justify-content: left;
}

.streetAddress {
    align-content: center;
    display: grid;
}

.socialMediaLinks {
    margin-right: 100px;
    display: grid;
    justify-content: right;
    grid-auto-flow: column;
    align-items: center;
    align-content: end;
    grid-auto-columns: 36px;
    grid-column-gap: 10px;
}

.socialMediaImg {
    max-width: 36px;
    max-height: 36px;
}

.copyright {
    align-items: center;
    background-color: #e2e2e3;
    color: #000000;
    display: grid;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 750px) {
    .top {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        justify-items: center;
    }

    .contactInformation {
        padding: 0;
    }

    .socialMediaLinks {
        margin: 0;
    }
}