.wrapper {
    align-content: center;
    background-color: #5a5656;
    display: grid;
    height: 60px;
}

.header {
    align-items: center;
    display: grid;
    grid-template: "logo links";
    max-height: 80px;
    padding: 0 50px;
}

.img {
    grid-area: logo;
    max-height: 40px;
    max-width: 1000px;
}

@media screen and (max-width: 750px) {
    .wrapper {
        height: unset;
        padding: 20px 0 20px 0;
    }

    .header {
        padding: 0;
        max-height: unset;
        grid-template-areas: "logo" "links";
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }

    .img {
        justify-self: center;
        max-height: 60px;
    }
}