.wrapper {
    align-content: center;
    background-color: #5a5656;
    display: grid;
    height: 60px;
}

.header {
    align-items: center;
    display: grid;
    grid-template: "logo links";
    max-height: 80px;
    padding: 0 50px;
}

.img {
    grid-area: logo;
    max-height: 40px;
    max-width: 1000px;
}