.nav {
    align-items: center;
    display: grid;
    grid-area: links;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    height: 60px;
}

.link {
    align-items: center;
    color: #c7c7c7;
    display: grid;
    font-size: 20px;
    height: 100%;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
}

.link:hover {
    background-color: #3d3d3d;
    color: #dedcdc;
}