body {
    margin: 0;
}

:root {
    --event-bg: #d9f4f8;
    --event-cl: #470d0d;
    --event-p-cl: #282828;
    --event-section-cl: #232323;
    --event-title-cl: #111111;
    --events-bg: inherit;
    --header-bg: #e3e2e2;
    --nav-a-bg-hover: #c7c7c7;
    --nav-a-cl-hover: #555454;
    --nav-bg: #inherit;
    --nav-cl: #3d3d3d;
    font-family: 'Noto Sans JP', sans-serif;
}

.header-wrapper {
    align-content: center;
    background-color: var(--header-bg);
    display: grid;
    height: 60px;
}

header {
    align-items: center;
    display: grid;
    grid-template: "logo links";
    max-height: 80px;
    padding: 0 50px;
}

header img {
    grid-area: logo;
    max-height: 40px;
    max-width: 1000px;
}

nav {
    align-items: center;
    background-color: var(--nav-bg);
    display: grid;
    grid-area: links;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    height: 60px;
}

nav a {
    align-items: center;
    color: var(--nav-cl);
    display: grid;
    font-size: 20px;
    height: 100%;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--nav-a-bg-hover);
    color: var(--nav-a-cl-hover);
}