:root {
    --header-bg: #e3e2e2;
    --nav-bg: #inherit;
    --nav-cl: #3d3d3d;
    --nav-a-bg-hover: #c7c7c7;
    --nav-a-cl-hover: #555454;
    --main-color: black;
    --main-bg: unset;
    --contact-form-border: brown;
    --contact-form-bg: inherit;
    --contact-form-color: inherit;
    --footer-bg: #311e1e;
    --footer-color: #bbbaba;
    --footer-bg-color: inherit;
    --alert-signup-bg: inherit;
    --alert-signup-color: inherit;
    --copyright-bg: #1d0e0e;
    --copyright-color: inherit;
    --events-bg: #d0d0d0;
    --event-bg: #d9f4f8;
    --event-cl: #470d0d;
    --event-title-cl: #111111;
    --event-p-cl: #282828;
    --event-section-cl: #232323;
  }

body {
    margin: 0;
}

.events {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    background-color: var(--events-bg);
    justify-items: center;
}

main {
    margin: 0 auto;
    color: var(--main-color);
    max-width: 900px;
    background-color: var(--main-bg);
}

.events-page-title {
    text-align: center;
    background-color: var(--events-bg);
    margin: 0;
    padding: 20px 0;
}

.event {
    text-align: center;
    display: grid;
    border: 1px solid black;
    background-color: var(--event-bg);
    color: var(--event-cl);
    border-radius: 10px;
    max-width: 700px;
}

.event-title {
    color: var(--event-title-cl);
}

.event section {
    display: grid;
    text-align: left;
    margin: 0 auto;
    color: var(--event-section-cl);
}

.event img {
    max-width: 750px;
    max-height: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.event p {
    text-align: left;
    color: var(--event-p-cl);
    padding: 20px;
    margin: 0;
}

.hours-of-operation {
    display: grid;
    grid-row-gap: 10px;
}

.hours-of-operation-title {
    text-align: center;
    font-size: 25px;
    height: 15px;
}

.day-of-operation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.contact-form {
    color: var(--contact-form-color);
    border-radius: 10px;
    /*border: 1px solid var(--contact-form-border);*/
    background-color: var(--contact-form-bg);
    max-width: 750px;
    width: 100%;
    display: grid;
    grid-template: 
        "title title" 50px
        "nameLabel nameInput" 35px
        "phoneLabel phoneInput" 35px
        "emailLabel emailInput" 35px
        "messageLabel messageInput" 70px
        "submitButton submitButton" 30px
        /3fr 5fr;
    grid-row-gap: 10px;
    text-align: right;
    padding: 10px 20px 10px 20px;
}

.contact-form-title {
    grid-area: title;
    text-align: center;
    font-size: 25px;}

.contact-form input, .contact-form textarea {
    border: 1px solid black;
    border-radius: 10px;
}

.contact-form label {
    display: grid;
    align-items: center;
    padding-right: 10px;
}

.contact-form input[type="submit"] {
    grid-area: submitButton;
    width: 200px;
    justify-self: right
}
.contact-form #name-label {
    grid-area: nameLabel;
}
.contact-form #name-input {
    grid-area: nameInput;
}
.contact-form #phone-label {
    grid-area: phoneLabel;
}
.contact-form #phone-input {
    grid-area: phoneInput;
}
.contact-form #email-label {
    grid-area: emailLabel;
}
.contact-form #email-input {
    grid-area: emailInput;
}
.contact-form #message-label {
    grid-area: messageLabel;
}
.contact-form #message-input {
    grid-area: messageInput;
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
    display: grid;
    grid-template-rows: auto 50px;
    justify-content: center;
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contact-information {
    display: grid;
    grid-template: "phone-email" "address";
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-row-gap: 20px;
}

.contact-item {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}

.contact-item .street-address {
    display: grid;
}

.contact-information .phone-email {
    display: grid;
    grid-row-gap: 5px;
}

.contact-information .phone {
    grid-area: phone;
}
.contact-information .email {
    grid-area: email;
}
.contact-information .address {
    grid-area: address;
    display: grid;
}

.alert-signup h1 {
    font-size: 20px;   
    text-align: center;
}

.alert-signup {
    background-color: var(--alert-signup-bg);
    display: grid;
    padding: 10px 20px;
    max-width: 500px;
}

.alert-signup form {
    display: grid;
    grid-template: 
        "selection input"35px
        "submit submit"30px
        / 2fr 11fr;
    grid-row-gap: 10px;
}

.alert-signup select {
    grid-area: selection;
}

.alert-signup input[type="email"], .alert-signup input[type="tel"] {
    grid-area: input;
}

.alert-signup input[type="submit"] {
    grid-area: submit;
    border-radius: 10px;
    width: 100%;
    max-width: 140px;
    justify-self: center;
}

.copyright {
    text-align: center;
    background-color: var(--copyright-bg);
    color: var(--copyright-color);
    display: grid;
    align-items: center;
    width: 100%;
}

.viewport {
    width: 3750px;
}

.header-wrapper {
    background-color: var(--header-bg);
}

header {
    display: grid;
    grid-template: "logo links";
    height: 80px;
    padding: 0 50px;
    align-items: center;
}

header img {
    grid-area: logo;
    max-width: 1000px;
}

nav {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--nav-bg);
    height: 100%;
    align-items: center;
    grid-template-rows: 100%;
}

nav a {
    color: var(--nav-cl);
    text-decoration: none;
    font-size: 20px;
    height: 100%;
    display: grid;
    align-items: center;
    padding: 0 15px;
    text-align: center;
}

nav a:hover {
    background-color: var(--nav-a-bg-hover);
    color: var(--nav-a-cl-hover);
}

.bio:nth-of-type(odd) {
    grid-template: "bioHeader bioHeader" "p img";
    grid-template-columns: 4fr 1fr;
}
.bio:nth-of-type(even) {
    grid-template: "bioHeader bioHeader" "img p";
    grid-template-columns: 1fr 4fr;
}

.bio {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    grid-column-gap: 20px;
}

.bio-header {
    text-align: center;
    grid-area: bioHeader;
}

.bio-paragraphs {
    grid-area: p;
}

.bio-image {
    grid-area: img;
    max-width: 400px;
    border-radius: 50px;
}