html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slideshow {
  width: 750px;
  height: 400px;
  overflow-y: hidden;
  /*overflow-x: hidden;*/
}

.viewport {
  width: 3750px;
}

.slide {
  position: absolute;
  transition: translate 2s;
}
